body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      background-color: #f2f2f2;
    }

    header {
      background-color: #00796b;
      color: yellow;
      padding: 20px;
      text-align: center;
    }

    nav {
      background-color: #004d41;
      padding: 10px;
      text-align: center;
    }

    nav a {
      color: white;
      margin: 0 15px;
      text-decoration: none;
      font-weight: bold;
    }

    section {
      padding: 20px;
      background-color: goldenrod;
      margin: 20px auto;
      max-width: 1000px;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0,0,0,0.1);
    }

    img {
      max-width: 100%;
      border-radius: 8px;
    }

    footer {
      background-color: #004d40;
      color: blue;
      text-align: center;
      padding: 15px;
      position: relative;
      bottom: 0;
      width: 100%;
    }
